.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    margin: 30vh auto;
    width: 295px;
    height: 500px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    padding: 25px;
}

.images {
    background-color:hsl(178, 100%, 50%);
    border-radius: 8px;
    max-width: 294px;
    max-height: 294px;
    position: relative;
    display: inline-block;
}

.image-main {
    width: 295px;
    max-height: 295px;
    border-radius: 6px;
    position: relative;
    display: inline-block;
}

.images .image-hover {
    display: none;
    position: absolute;
    padding: 125px;
    border-radius: 6px;
    top: 0;
    left: 0;
    z-index: 99;
}

.images:hover .image-main {
    z-index: 99;
    opacity: 50%;
}

.images:hover .image-hover {
    display: inline;
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 25px;
    color: white;
}

h1:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(215, 51%, 70%);
}

.cost {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.logo {
    width: 11px;
    height: 18px;
    padding-top: 2px;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(178, 100%, 50%);
    margin: 0;
    margin-left: 8px;
}

.time {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.clock {
    width: 18px;
    height: 18px;
    padding-top: 1px;
}

h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    margin: 0;
    margin-left: 8px;
}

.credit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 16px;
}

.creation {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.name {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.name:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}