.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(217, 54%, 11%);
    max-width: 375px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 9vh 3.5vw;
    height: 75vh;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 1.5rem;
}

/* .images {
    position: relative;
    width: 360px; 
    max-width: 76vw;
    transition: opacity .2s;
}

.image-main {
    margin-bottom: 1.5vh;
    border-radius: .5rem;
    max-width: 18rem;
    max-height: 18rem;
    transition: opacity .2s;
}

.images img.image-hover {
    position: absolute;
    top: 8rem;
    right: 0;
    left: 7.5rem;
    bottom: 0;
    object-fit: contain;
    display: none;
    opacity: 0;
    transition: opacity .2s;
  }

.images:hover img.image-main:hover  {
    opacity: 1;
    display: block;
  } */

.images {
    background-color:hsl(178, 100%, 50%);
    border-radius: .6rem;
    max-width: 18rem;
    max-height: 18rem;
    position: relative;
    display: inline-block;
}

.images .image-main {
    max-width: 18rem;
    max-height: 18rem;
    border-radius: .5rem;
    position: relative;
    display: inline-block;
}

.images .image-hover {
    display: none;
    position: absolute;
    padding: 7.8rem;
    border-radius: .5rem;
    top: 0;
    left: 0;
    z-index: 99;
}

.images:hover .image-main {
    z-index: 99;
    background-color:hsl(178, 100%, 50%);
    opacity: 50%;
}

.images:hover .image-hover {
    display: inline;
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
}

h1:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(215, 51%, 70%);
}

.cost {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.logo {
    width: 2.6vw;
    height: 2.6vh;
    padding-top: .5vh;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(178, 100%, 50%);
    margin: 0 2vw;
}

.time {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.clock {
    width: 4.8vw;
    height: 4.8vw;
    padding-top: .3vh;
}

h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    margin: 0 2vw;
}

.credit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;
}

.avatar {
    width: 8.5vw;
    height: 8.5vw;
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 1rem;
}

.creation {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.name {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.name:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}